---
layout: page
title: Tags
---

<ul class="tag-navs">
{% for tag in site.data.tags %}
  <li><a href="#{{ tag }}">{{ tag }}</a></li>
{% endfor %}
</ul>
<ul class="tag-list">
{% for tag in site.data.tags %}
  {% assign tag_posts = site.tags[tag] %}
  {% if tag_posts.size > 0 %}
  <li id="{{ tag }}">
    <h3>
      <span class="icon">{% include icon.html icon='tag' %}</span>
      {{ tag }}
    </h3>
    <ul class="tagged-posts">
    {% for post in tag_posts %}
      <li>
        <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date_to_string }}</span>
      </li>
    {% endfor %}
    </ul>
  </li>
  {% endif %}
{% endfor %}
</ul>
