<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <span>{{ site.description }}</span>
  </div>
  <nav class="sidebar-nav">
  {% if page.title == "Home" %}
    <a class="sidebar-nav-item active">Home</a>
  {% else %}
    <a class="sidebar-nav-item" href="{{ site.url }}">Home</a>
  {% endif %}
  {% assign site_pages = site.pages %}
  {% for node in site_pages %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
        {% if page.url == node.url %}
    <a class="sidebar-nav-item active">{{ node.title }}</a>
        {% else %}
    <a class="sidebar-nav-item" href="{{ node.url | relative_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  </nav>
  <div class="sidebar-item">
    <a class="sidebar-brand" href="{{ site.github.repo }}">
      Powered by
      <span class="icon">{% include icon.html icon='github' %}</span>
    </a>
    <span>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</span>
  </div>
</div>
