<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="{{ site.url }}">Home</a>
  {% assign site_pages = site.pages %}
  {% for node in site_pages %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{node.url | relative_url }}">{{ node.title }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  </nav>
  <div class="sidebar-item">
    <p>
      <a href="{{ site.github.repo }}">
        Powered by
        <span class="icon">{% include icon.html icon='github' %}</span>
      </a>
    </p>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
