<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper" id="wrapper">
      <div class="masthead">
        <button class="sidebar-toggle" id="sidebar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.url }}" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>
      <div class="container content">{{ content }}</div>
    </div>
    {% include sidebar.html %}
    {% include foot.html %}
  </body>
</html>
