<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include sidebar.html %}
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <button class="sidebar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.url }}" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>
      <div class="container content">{{ content }}</div>
    </div>
    {% include foot.html %}
  </body>
</html>
